.search-tooltip-cambridge {
  --cambridge-tooltip-bg: #303030;
  --cambridge-tooltip-color: #fff;
  --cambridge-tooltip-bg-hover: #404040;
  position: fixed;
  padding: 0.3em 0.6em;
  transform: translateY(-10px);
  background: var(--cambridge-tooltip-bg);
  cursor: pointer;
  color: var(--cambridge-tooltip-color);
  border-radius: 0.5rem;
  z-index: 99999;
}

.search-tooltip-cambridge::before {
  position: absolute;
  content: '';
  height: 0.6em;
  width: 0.6em;
  bottom: -0.2em;
  left: 10%;
  transform: translateX(-50%) rotate(45deg);
  background: var(--cambridge-tooltip-bg);
  border-bottom-right-radius: 0.175rem;
}

.search-tooltip-cambridge:hover,
.search-tooltip-cambridge:hover::before {
  background: var(--cambridge-tooltip-bg-hover);
}
